{% load static %}
<html>
    <head>
        <title>Experience</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Liu+Jian+Mao+Cao&display=swap" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>My Blog</h1>
        </div>

        {% block content %}
        {% endblock %}

       <script type="text/javascript">
        $(".item-header").click(function() {
            $(".accordion-item").removeClass("active");
            $(this).parent().addClass("active");
            $(".icon").text("+");
            $(this).children(".icon").text("-");
        });
        </script>

    </body>
</html>
