* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(uob.jpg);
    background-size: cover;
}

.page-header {
    margin-top: 0;
    text-align: center;
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 30px;
    position: relative;
    top: 10%;
    transform: translateY(-10%);
    }

.container {
    display: flex;
    min-height: 100vh;
    bottom: 5%;
    transform: translateY(-5%);
    align-items: center;
    justify-content: center;
}

.accordion {
    max-width: 600px;
    padding: 20px;
}

.accordion-item{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.item-header {
    padding: 14px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.title {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Liu Jian Mao Cao', cursive;
}

.icon {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
}

.text {
    color: #ffffffb4;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    padding: 0 6px;
    max-height: 0;
    overflow: hidden;
}

.accordion-item.active .text {
    max-height: 600px;
    transition: .4s linear;
}